<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Ansible - Getting Started</title>
    <style type="text/css">
      body {
        font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
        font-size: 13px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 18.5714px;
        color: #666666;
        background-color: #ffffff;
      }
      .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .middle {
        display: table-cell;
        vertical-align: middle;
      }
      .inner {
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
        width: /*whatever width you want*/;
      }
      a:link,a:visited {
        background-color: #ffffff;
        border: solid 1px #1989e0;
        border-radius: 20px;
        color: #1989e0;
        display: inline-block;
        padding: 14px 25px;
        text-align: center; 
        text-decoration: none;
      }
      a:hover,a:active {
        background-color: #1989e0;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="outer">
      <div class="inner">
        <a href="https://www.ansible.com/resources/get-started">
          GET STARTED with ANSIBLE<br />
          (www.ansible.com)<br />
        </a>
        <br />
        <br />
        We know you’re a pretty talented sysadmin, developer or<br />
        DevOps‑erator. So, getting started with Ansible should<br />
        be a piece of cake.<br />
        <br />
        <hr />
        <br />
        <a href="info.php">PHP Information for this install</a>
        <br />
        <!-- PLACEHOLDER for phpMyAdmin -->
      </div>
    </div>
  </body>
</html>
