<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Ansible - Getting Started</title>
  </head>
  <body>
    <div>
      <a href="https://www.ansible.com/resources/get-started">
        GET STARTED
        We know you’re a pretty talented sysadmin, developer or DevOps‑erator. So, getting started with Ansible should be a piece of cake.
      </a>
      <br>
      <hr>
      <br>
      <a href="info.php">
        PHP Information for this install
      </a>
      <br>
    </div>
  </body>
</html>
